<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758162152618-65o41ercs7s9na5a6s37eq3slr313qvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758162152618-65o41ercs7s9na5a6s37eq3slr313qvb</string>
	<key>API_KEY</key>
	<string>AIzaSyAct4Vho_ccHH5FipzhPriF8KSsycTJ63U</string>
	<key>GCM_SENDER_ID</key>
	<string>758162152618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svs.siddhanth.siddhanth</string>
	<key>PROJECT_ID</key>
	<string>siddhanth2022-d98fa</string>
	<key>STORAGE_BUCKET</key>
	<string>siddhanth2022-d98fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758162152618:ios:17a707e9e8865dd64c04d3</string>
</dict>
</plist>